body{
    margin: 0px;
    /* padding: 0px; */
    background: linear-gradient(to left bottom,#3d3d25,
 black,#3b3b3b);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    background: rgba(32, 26, 26, 0.3);
    /* background: none; */
    padding: 20px;
    box-shadow: 0 6px 10px rgba(0,0,0,.3);
    border-radius: 20px;
    width: 30%;
    height: 70vh;
    text-align: center;
    border-color: aqua;
    color: rgb(130, 219, 219);
}
.heading{
    color: aliceblue;
    font-size: 40px;
    font-weight: 300;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 5px 5px 2px rgba(0,0,0,.3);
    letter-spacing: 2px;
}
.joke{
    height: 50px;
    width: 130px;
    font-size: 15px;
    margin: 8px;
    padding: 8px;
    background: linear-gradient(to left bottom,#3d3d25,
    black,#3b3b3b);
    color: aliceblue;
}
.btn{
    font-size: 17px;
    font-weight: 400;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(255,255,255,.3);
    border-color: rgba(255,255,255,.7);
    width: 250px;
    color: white ;
}
.btn:hover{
    background-color: rgba(255,255,255,.5);
    box-shadow: 0 4px 4px rgba(0,0,0,.3);
    transition: all 300ms ease;
}

#joke5{
    transition: 0.2s all;
    
}
#joke1{
    
    width: 150px;
    /* margin-top: 26px; */
    
}
#joke2{
    
    width: 150px;
    /* margin-top: 26px; */
    
}
#joke3{
width: 150px;
margin-top: 26px;
margin-left: 30px;
}
#joke4{
    
        width: 150px;
        margin-top: 26px;
        
        
}
#color1{
    height: 45px;
    margin-top: 20px;
    margin-right: 8px;
}
#color2{
    height: 45px;
    margin-top: 20px;
    /* margin-right: 8px; */
}
.one{
    color: aliceblue;
    font-size: 30px;
}
.two{
    color: aliceblue;
    font-size: 20px;
}
#joke5{
    color: aliceblue;
    font-size: 30px;
}